/* підключення шрифтів */
@import url('/fonts/Gilroy/stylesheet.css');
/* ГОЛОВНІ СЕЛЕКТОРИ */
body {
    font-size: 16px;
    color: rgba(38, 38, 38, 1);
    font-family: 'Gilroy', Arial, Helvetica, sans-serif;;
}
.wrapper {
    
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.max-container-width {
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
}
.main {
}
/* СЕЛЕКТОРИ, ЩО ПОВТОРЮЮТЬСЯ */
._logo {
}
._menu {
}
._popular-title span {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
}

.color-black {
    color: rgba(38, 38, 38, 1);
    margin-right: 5px;
}
.orange {
    color: rgba(156, 156, 66, 1);
}
._display-flex {
    display: flex;
    align-items: flex-end;
}
._contact {
}
._overflow-hidden {
    overflow: hidden;
}





















