/* PRODUCT (СЕКЦІЯ ВИРОБІВ - ПОКУПКИ) */
.products {
    min-width: 100%;
    background-color: #E5E5E5;
    padding: 100px 0;
}
.products__container {
}
.products__title {
    margin-bottom: 60px;
}
.products__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}
.products__cards {
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);

    width: 270px;
    height: 428px;
    padding: 30px 10px 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products__image {
    margin-bottom: 45px;
}
.products__image img {
    width: 100%;
}
.products__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    color: #262626;
}
.products__price span {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
.products__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;

    color: #9C9C42;
}
.products__review {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;

    padding: 12px 25px;
    border: 1px solid #9C9C42;
    border-radius: 10px;
    color: #9C9C42;
    transition: all 0.3s;
}
@media (min-width: 769px) {
    .products__review:hover {
        background-color: rgba(0, 0, 0, 1);
        border: 1px solid rgb(0, 0, 0);
        color: #ffffff;
    }
}

.products__button-more {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #9C9C42;
    border-radius: 10px;
    padding: 12px 26px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.products__button-more span {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    margin-right: 10px;

    color: #FFFFFF;
}
.products__button-more img {
    display: block;
}
